<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>React Redirect</title>
</head>

<body>
    <a id="yourLinkID" href="<%= url %>">Redirect me</a>

    <script>
        document.getElementById('yourLinkID').click();
    </script>
</body>
</html>
